html, body{
    height:100vh;
    width:100%;
}

.main {
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: rgb(226, 226, 226);
}

.main > .container {
    max-width: 700px;
    padding-top: 95px;
}

.navbar {
    width: 100%;
    /* background-image: linear-gradient(#fcede9, #fcdce9); */
    background-color: #fff;
    box-shadow: 1px 0px 5px #a1a1a1; 
    /* -webkit- for safari */
    -webkit-box-shadow: 1px 0px 5px #a1a1a1; 
    /* -moz- for mozilla */
    -moz-box-shadow: 1px 0px 5px #a1a1a1; 
}

.footer {
    margin-top: -30px;
}

.system-summary {
    margin-bottom: 30px;
}

.status-icon {
    float: left; 
    margin-right: 10px;
}

.host-name {
    float: left;
}

.not-found-card {
        width: 400px;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}